body{

    background-color: darksalmon;
    
    /* margin-top: 60px;
    margin-right: 200px;
    margin-bottom: 0px;
    margin-left: 200px;
     */
    margin:60px 200px 60px 200px;
    }
    
    .logoimagen{
    
    
    float: right;        
    width: 300px;
    display: block;
    margin: 0 auto;
    
    }
    
    nav {
    
    background-color:wheat;
    padding:20px 0px;
    text-align: right;
    
    }
    
    .barradenavegacion{
        background-color: wheat;
        list-style:none;
        display:inline-flex;
    }
    
    .navegacion{
        display: inline-block;
        padding: 10px 20px 10px 20px;
    }
    
    .navegacion:hover{
    
        background-color: darksalmon;
    }
    
    .parallax{
    
        background-image: url(../imagenes\ comida/fondoparallax1.jpg) ;
    background-size: contain;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: right;
    justify-content: right;
    
    
    }
    
    .tituloparallax h2{
        font-size: 2cm;
        color:blanchedalmond
        font-weigth 800px;
        text-align: center;
    }
    
    span.parrafoparallax{
    
    display: flex;
    justify-content: center;
    border: 2px solid whitesmoke ;
    
    }
    
    span.parrafoparallax:hover{
    
        background-color: white;
        opacity: 0.8;
    }
    
    span.parrafoparallax{
    
        color: lightslategray;
        font-weight: 400;
        padding: 10px 30px;
        margin: 0;
        text-decoration: none;
        font-size: 25px;
    }